.container {
    padding-right: 3rem;
    padding-left: 3rem;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    padding-bottom: 90px;

}

.header {
    max-width: 600px;
    text-align: center;
    margin-bottom: 3rem;
    margin-right: auto;
    margin-left: auto;
}

.heading {
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    font-weight: 700;
    line-height: 1.2;
    font-family: "Roboto", sans-serif;
    font-size: calc(1.375rem + 1.5vw);
    color: #e1e1e1;
}

@media (min-width: 1200px) {
    .heading {
        font-size: 2.5rem;
    }
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.highlight {
    color: #008cff;
}

.card {
    flex: 0 0 auto;
    width: 25%;
}

@media (max-width: 992px) {
    .card {
        width: 33.33333%;
    }
}

@media (max-width: 768px) {
    .card {
        width: 50%;
    }
}

.item {
    display: flex;
    flex-wrap: wrap;
}

.imgContainer {
    min-height: 300px;
    flex: 0 0 auto;
    width: 83.33333%;
}

.imgWrapper {
    height: 100%;
    position: relative;
}

.img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    vertical-align: middle;

}




.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #777;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
}

.detailsContainer {
    flex: 0 0 auto;
    width: 100%;
    color: #bbbbbb;
}

.detailsWrapper {
    background-color: #7771e1, transparent;
    font-size: 20px;
    color: aliceblue;
}

.crewName {
    text-transform: uppercase;
    font-size: calc(1.275rem + 0.3vw);
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    line-height: 1.2;
    color: #e3e4e6;


}

@media (min-width: 1200px) {
    .employeeName {
        font-size: 1.5rem;
    }
}

.fastfive {
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 200%;
    border-radius: 40px;
    border-width: 10px;
    border: solid 10px black;

}