*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to bottom, #000d16, #000d16);
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  color: white;
  text-align: center;
  font-size: 2rem;
  width: 100%;
  max-width: 100%;
}

h1:hover {
  color: #76d6f1;
}

/* Media Queries */
@media (max-width: 1200px) {
  h1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 900px) {
  h1 {
    font-size: 0.3rem;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 0.5rem;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 0.2rem;
  }
}

@media (max-width: 300px) {
  h1 {
    font-size: 0.1rem;
  }
}