.container {
  padding-right: 3rem;
  padding-left: 3rem;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 90px;
  padding-bottom: 90px;

}

.contentWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;


}

.col1 {
  margin-bottom: 0;
  flex: 0 0 auto;
  width: 50%;
}

.heading {
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 0;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  text-shadow: 10px 5px 1px rgba(0, 0, 0, 0.5);

  animation: fadeIn 1s;


}

@keyframes fadeIn {
  0% {
    opacity: 2;
  }

  100% {
    opacity: 20;
  }
}

.highlight {
  color: #008cff;

}

.paragraph {
  margin-bottom: 3rem;
  margin-top: 1rem;
  font-size: 30px;
}

.col2Wrapper {
  background-color: rgba(1, 22, 43, 1.5);
  text-align: center;
  padding: 3rem;
}

.form {
  display: flex;
  flex-wrap: wrap;
}

.newcarLbl {
  padding: 10px;
  color: #008cff;
  font-size: 20px;
  font-weight: 700;
  display: inline-block;
  text-transform: uppercase;

  letter-spacing: 1px;

  transition: color 0.3s ease-in-out;

}

.newcarLbl:hover {
  color: #0e50ca;

}

.input {
  border: 0;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #3f3f3f;
  background-color: #fff;
  background-clip: padding-box;
  appearance: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  height: 55px;
  margin: 0;
  font-family: inherit;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.input:focus {
  outline: none;
  box-shadow: 3px 3px 100px #008cff;
}

.input:focus {
  outline: none;
  border: 1px solid #008cff;
}

.select {
  background-color: white;
  word-wrap: normal;
  text-transform: none;
}

.errors {
  color: #d30202;
  margin-top: 0;
  margin-bottom: 1rem
}

.maxWidthWrapper {
  flex: 0 0 auto;
  width: 100%;
}

.btn {
  cursor: pointer;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  border-radius: 10px;
  color: #000;
  background-color: #008cff;
  border-color: #008cff;
  display: inline-block;
  font-weight: 900;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 2px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 25px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  position: relative;
  text-transform: uppercase;
  margin: 0;
  border-radius: 0;
  height: 3rem;
  border-radius: 10px;
}

.btn:hover{ 
  color :#fff
}

@media (min-width: 992px) {
  .col1 {
    width: 33.33333%;
  }

  .col2 {
    flex: 0 0 auto;
    width: 66.66667%;
  }
}

@media (min-width: 576px) {
  .itemWrapper {
    flex: 0 0 auto;
    width: 47%;
    margin: 1rem;
  }
}



