.DownContainer {
    padding-right: 3rem;
    padding-left: 3rem;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: .1rem;
    margin-right: .1rem;
    margin-left: .1rem;
}

.firstLastItemWrapper {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 30%;
}

.firstItemContentWrapper {
    align-items: center;
    display: inline-flex;
}

.text {
    text-align: left;
}

.textBold {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: "Roboto", sans-serif;
    line-height: 1.2;
    color: #008cff;
}

.secondItemWrapper {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    width: 30%;
}

.highlight {
    color: #008cff;
    font-size: 2.5rem;
    margin-right: 1rem;
}