.container {
    width: 100vw;
    padding: 0;
    margin-right: 0;
    margin-left: 0;
    color: #000;
}

.imageContainer {
    position: relative;
    width: 100%;
}

.img {
    width: 100%;
    vertical-align: middle;
}

.overlayInfo {
    align-items: center;
    justify-content: top;
    flex-direction: column;
    display: flex;
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 0.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
    top: 0;
    z-index: 1;
}

.textContainer {
    font-size: 20px;
    padding: 1rem;
}

.icon {
    font-size: 10em;
    margin-bottom: 1.5rem;
    color: #008cff;
    display: block;
}

.divBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}

.btn {
    display: block;
    width: auto;
    color: #FFFFFF;
    font-weight: 600;
    text-transform: uppercase;
    transition: .5s;
    background-color: #008cff;
    border-color: #008cff;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    font-size: 1rem;
    text-decoration: none;
    padding: 1.25rem;
    border-radius: 0.65rem;
    clear: both;
}

.btn:hover {

    color: #001c44;
    box-shadow: 0 0 1px rgb(206, 207, 208),
        0 0 25px rgb(132, 176, 212),
        0 0 50px rgb(84, 147, 198),
        0 0 100px rgb(195, 196, 198);

}

.heading {
    color: azure;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: "Roboto", sans-serif;
    font-size: calc(1.375rem + 1.5vw);
    text-decoration: none;
}

/* Media Queries */
@media (max-width: 768px) {
    .overlayInfo {
        right: 10%;
        left: 10%;
        padding-bottom: 1rem;
    }

    .container {
        width: 100%;
    }

    .icon {
        font-size: 8em;
    }

    .divBtn {
        flex-direction: column;
    }

    .btn {
        width: 90%;
        margin: 10% auto;
        font-size: 0.875rem;
        padding: 1rem;
    }

    .heading {
        font-size: 2rem;
    }

    .textContainer {
        padding: 0.5rem;
        font-size: 20px;
        height: 20%;
    }

    .title {
        font-size: 0.5rem;
    }
}

@media (max-width: 480px) {
    .overlayInfo {
        right: 5%;
        left: 5%;
        padding-bottom: 0.75rem;
    }

    .container {
        width: 100%;
    }

    .icon {
        font-size: 6em;
    }

    .btn {
        width: 100%;
        margin: 5% auto;
        font-size: 0.75rem;
        padding: 0.75rem;
    }

    .heading {
        font-size: 1.5rem;
    }

    .textContainer {
        padding: 0.5rem;
        font-size: 20px;
    }
}

@media (max-width: 300px) {
    .overlayInfo {
        right: 3%;
        left: 3%;
        padding-bottom: 0.5rem;
    }

    .container {
        width: 100%;
        padding: auto;
    }

    .icon {
        font-size: 4em;
            padding: auto;
    }

    .btn {
        width: 100%;
        margin: 3% auto;
        font-size: 0.5rem;
        padding: 0.5rem;
    }

    .heading {
        font-size: 1rem;
            padding: auto;
    }

    .textContainer {
        padding: auto;
        font-size: 16px;
    }
}