.container {
    padding-right: 3rem;
    padding-left: 3rem;
    margin-right: auto;
    margin-left: auto;
    padding-top: 90px;
    padding-bottom: 90px;

}

.contentWrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0;

}

.heading {
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    font-size: calc(1.425rem + 2.1vw);
    font-weight: 700;
    line-height: 1.2;
    font-family: "Roboto", sans-serif;
    color: #040f28;
}

@media (min-width: 1200px) {
    .heading {
        font-size: 3.5rem;
    }
}

.highlight {
    color: #e30a0a;
}

.img {
    max-width: 40vw;
    height: auto;
    vertical-align: middle;
    margin-bottom: 1.5rem;
    border-radius: 140px;
    border: 2px solid #de0808;
    box-shadow: 1px 2px 22px 3px #e00d0d;
}


.paragraph {
    font-size: 30px;
    margin-bottom: 2rem;
    margin-top: 1rem;
    text-align: center;
        color: #0c9aff;
}